---
layout: page
title: 
redirect_from:
- /projects/
---
<h1>Publication List</h1>
<p>This list includes work that I published at the University of Washington as a graduate student and postdoctoral researcher. To see a complete list of my publications, please visit my profile on <a href="https://scholar.google.com/citations?user=YeGQtewAAAAJ&hl=en">Google Scholar</a>. To see the work that is published by my research group, please visit my lab's <a href="https://chai-toronto.github.io/publications/">homepage</a>.</p>

<div id="myButtons" class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="keyword-all" autocomplete="off" checked> All
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="keyword-health" autocomplete="off"> <span class='glyphicon glyphicon-heart' aria-hidden='true' style='color:white'></span> Health
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="keyword-interaction" autocomplete="off"> <span class='glyphicon glyphicon-hand-up' aria-hidden='true' style='color:white'></span> Interaction
  </label>
</div>

<script type="text/javascript" src="keyword_checkboxes.js"></script>

{% capture last_year %}0{% endcapture %}
{% assign sorted_pubs = site.publications | sort: 'date' | reverse %}

{% for pub in sorted_pubs %}
  {% capture this_year %}{{ pub.date | date: "%Y" }}{% endcapture %}
  {% if this_year != nil and this_year != last_year%}
  <h1 id="{{ this_year }}-ref">{{this_year}}</h1>
  {% endif %}
  {% capture last_year %}{{ this_year }}{% endcapture %}

  <div class="row publication-badge" data-keywords="{{ pub.keywords }}">
    <div class="publication-pic col-md-2 col-sm-3 col-xs-12 text-left">
      {% if pub.thumbnail.size > 0 %}<a href="{{ pub.link }}"><img src="{{ pub.thumbnail }}"/></a>{% endif %}&nbsp;
    </div>
    <div class="publication-info col-md-10 col-sm-9 col-xs-12">
      <!-- Title -->
      <a href="{{ pub.link }}"><h2><u>{{ pub.title }}</u></h2></a>
      
      <p>
        <!-- Authors -->
        <span class="authors">{% include author_list.html authors=pub.authors %}</span><br />

        <!-- Venue and award -->
        <i>{% if pub.date > site.time %}<span class="to-appear">To appear in </span>{% endif %}{% include conference_extender.html venue=pub.venue %}, {{ this_year }}</i>{% if pub.award %}, <span class="award">{{ pub.award }}</span>{% endif %}<br/>

        {% if pub.date <= site.time %}
          <!-- Citation -->
          {% if pub.citation %}
            <button type="button" class="btn btn-default btn-xs" aria-label="Citation" data-toggle="modal" data-target="#{{pub.title | slugify}}_citation">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Citation
            </button>
          {% endif %}
          <!-- Bibtex -->
          {% if pub.bibtex %}
            <button type="button" class="btn btn-default btn-xs" aria-label="BibTeX" data-toggle="modal" data-target="#{{pub.title | slugify}}_bibtex">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span> BibTeX
            </button>
          {% endif %}
          <!-- News -->
          {% if pub.press %}
            <button type="button" class="btn btn-default btn-xs" aria-label="News" data-toggle="modal" data-target="#{{pub.title | slugify}}_press">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Media Coverage
            </button>
          {% endif %}
          <!-- Video -->
          {% if pub.video_embed %}
            <button type="button" class="btn btn-default btn-xs" aria-label="Video" data-toggle="modal" data-target="#{{pub.title | slugify}}_video">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Video
            </button>
          {% endif %}
        {% endif %}
      </p>
    </div>
  </div>

  <!-- Citation -->
  {% if pub.citation %}
    <div class="modal fade" tabindex="-1" role="dialog" id="{{pub.title | slugify}}_citation">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ pub.title }}</h4>
          </div>
          <div class="modal-body">
            <code>{{ pub.citation }}</code>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  {% endif %}

  <!-- BibTeX -->
  {% if pub.bibtex %}
    <div class="modal fade" tabindex="-1" role="dialog" id="{{pub.title | slugify}}_bibtex">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ pub.title }}</h4>
          </div>
          <div class="modal-body">
            <code>{{ pub.bibtex }}</code>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  {% endif %}

  <!-- Media Coverage -->
  {% if pub.press %}
    <div class="modal fade" tabindex="-1" role="dialog" id="{{pub.title | slugify}}_press">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ pub.title }}</h4>
          </div>
          <div class="modal-body">
            {% assign sorted_articles = pub.press | sort: 'name' %}
            {% for article in sorted_articles %}
              <u><a href="{{article.url}}">{{ article.name }}</a></u> ({{ article.date  | date: '%B %d, %Y'}}): {{ article.headline }}<br/>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  {% endif %}

  <!-- Video -->
  {% if pub.video_embed %}
    <div class="modal fade" tabindex="-1" role="dialog" id="{{pub.title | slugify}}_video">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ pub.title }}</h4>
          </div>
          <div class="modal-body">
            {{ pub.video_embed }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Close video when window closes -->
    <script>
      $('#{{pub.title | slugify}}_video').on('hidden.bs.modal', function () {
          $("#{{pub.title | slugify}}_video iframe").attr("src", $("#{{pub.title | slugify}}_video iframe").attr("src"));
      });
    </script>
  {% endif %}

{% endfor %}